REACT_APP_API_BASE_URL=https://localhost:7129/
REACT_APP_AUTH_LOGIN_PATH=api/Auth/login
REACT_APP_AUTH_REGISTER_PATH=api/Auth/register
REACT_APP_PRODUCTS_API_BASE_URL=https://localhost:7194/
REACT_APP_PRODUCTS_PATH=api/products
REACT_APP_PRODUCT_SEARCH_PATH=api/products/search
REACT_APP_PRODUCT_ADD_PATH=api/products/addproduct
REACT_APP_PRODUCT_UPDATE_PATH=api/products/updateproduct
REACT_APP_PRODUCT_DELETE_PATH=api/products/delete
REACT_APP_ORDERS_PATH=carts
REACT_APP_ORDER_CREATE_PATH=carts/add
REACT_APP_CART_PATH=carts/1
REACT_APP_PAYMENTS_PATH=http/200
REACT_APP_REVIEWS_PATH=comments
REACT_APP_USERS_PATH=auth/me
REACT_APP_WISHLIST_PATH=products?limit=6&skip=12
